<!DOCTYPE html>
<html>
<head>
  <title>Flowify</title>
</head>
<body>
  <h1>Flowify</h1>
  <p>Flowify is a web application that allows you to transfer your Spotify playlists to your Flowify account.</p>
  <a href="/auth/spotify">
    <button>Login with Spotify</button>
  </a>
</body>
</html>
