body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 20px;
}

h1, h2 {
  color: #38bdf8;
}

.playlist {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  /* background: #38bdf8; */
  color: #020617;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

/* button:hover {
  background: #0ea5e9;
} */

.loader {
  display: none;
  margin-top: 10px;
  color: #facc15;
}
